a {
    //font-size: 16px;
    text-decoration: none;
    color: #000;
}

.site-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    position: relative;
  }

.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.site-identity {
    float: left;
}

.site-identity h1 {
    font-size: 20px;
    margin: .7em 0 .3em 0;
    display: inline-block;
    
}

.site-identity img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
    border-radius: 50%;
}

.site-navigation {
    float: right;
}

.site-navigation ul, li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

span.badge {
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 14px;
    &.badge-green {
        background: #2aa200;
        color: white;
    }
    &.badge-yellow {
        background: #e32525;
        color: white;
    }
}


  
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal.show {
    display: block;
  }
  .cart-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    max-width: 50px; /* Set the maximum width of the image */
    max-height: 50px; /* Set the maximum height of the image */
    margin-right: 10px; /* Add some margin to the right of the image for spacing */
    border: 1px solid #ddd; /* Add a border for better visibility */
    border-radius: 4px; /* Add border-radius for rounded corners */
  }
  
  .product-details {
    flex-grow: 1;
  }
  .btn-group {
    display: flex;
    align-self: flex-end; /* Align the button group to the end (bottom) of the card */
  }